///colors
$background-color: #F8F8F8;
$white-color: #fff;
$text-color: #111111;
$text-color-2: #2A2A2A;
$text-color-3: #282828;
$label-color: #565656;
$label-color2: #454545;
$client-color: #D9D9D9;
$footer-color: #121212;
$hover-color: #92E3A9;

$header-size: 90px;

//font size
$label-small: 14px;
$label-medium: 15px;
$label-large: 16px;

$body-small: 18px;
$body-medium: 20px;
$body-large: 22px;

$title-small: 25px;
$title-medium: 30px;
$title-large: 60px;

$headline-medium: 70px;

//font family
$inter-family: "Inter", sans-serif;
$martel-family: "Martel", serif;